.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.DS_Store
Platformy.spec
build/*
build/Platformy
Icon
dist/assets
assets.zip
__MACOSX/assets
__pycache__/*
__pycache__
dist
dist/Platformy.app/Contents/Resources/icon.icns
dist/Platformy.app/Contents/MacOS/Platformy
dist/Platformy.app/Contents/Info.plist
dist/Platformy.app/Contents/_CodeSignature/CodeResources
Icon?